.button {
    background-color: $main-color;
    border-radius: 5px;
    width: 153px;
    height: 32px;
    border: none;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
    &_main {
        width: 300px;
        height: 50px;
        background: &main-color;
        font-size: 16px;
        color: #FFFFFF;
        margin-top: 67px;
    }
    &_submit {
        width: 100%;
        height: 58px;
    }
    &_mini {
        width: 135px;
        height: 44px;
        font-size: 14px;
    }
}