.footer {
    height: 630px;
    position: relative;
    &__info {
        position: absolute;
        top:0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        background-color: $main-color;
        padding: 50px 68px 60px 68px;
    }
    &__addr {
        margin-bottom: 36px;
        font-weight: 500;
        font-size: 20px;
        text-align: center;
        color: #FFFFFF;
    }
    &__phone {
        font-weight: 700;
        font-size: 20px;
        display: flex;
        text-align: center;
        display: block;
        text-decoration: none;
        color: #FFFFFF;
        margin-bottom: 38px;
    }

    &__social-item {
        width: 75px;
        display: flex;
        justify-content: center;
    }
    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}