.feed-form {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    width: 300px;
    input {
        margin-bottom: 15px;
        width: 303px;
        height: 54px;
        border: none;
        border-radius: 5px;
        padding: 0 20px;
        &:last-child(3) {
            margin-bottom: 20px;
        }
        font-weight: 400;
        font-size: 14px;
        color: #4B4B4B;
    }

}