@media(max-width: 390px) {
    .header {
        padding-right: 10px;
        padding-left: 10px;
        height: 30px;
        &__logo {
            width: 120px;
        }
        &__official {
            font-size: 8px;
            span {
                font-size: 10px;
            }
        }
        &__phone {
            font-size: 8px;
        }
        &__contacts {
            align-items: center;
        }
    }

    .button {
        width: 90px;
        height: 25px;
        font-size: 8px;
    }

    .promo {
        &__wrapper {
            align-items: center;
        }
        &__header {
            font-size: 30px;
            text-align: center;
        }
        &__subheader {
            font-size: 21px;
            text-align: center;
        }
        &__icons {
            padding: 0 30px;
        }
    }

    .button {
        &_main {
            width: 300px;
            height: 50px;
            font-size: 16px;
            color: #FFFFFF;
            margin-top: 67px;
        }
    }
}